<%= form_with url: user_experience_path, method: :post do |form| %>
  <h2>Select Your Experience Level</h2>
  <%= form.select :experience_level, options_for_select(['Junior', 'Mid', 'Senior']), prompt: 'Select an experience level' %>
  <%= form.submit 'Next' %>
<% end %>
