/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
    --primary-color: #0284c7;
    --secondary-color: white;
    --highlight-color: rgb(225, 0, 255);
    --highlight-dark-color: rgb(0, 20, 240);
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  nav {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 80px;
    z-index: 999;
    padding: 0 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;
  }

  .nav-links {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .nav-link {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 30px;
    text-decoration: none;
    position: relative;
    transition: color 0.2s ease-in-out;
    font-style: oblique;
  }

  .nav-link:hover {
    color: var(--highlight-color);
  }

  .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--highlight-color);
    transition: width 0.2s ease-in-out;
  }

  .nav-link:hover::after {
    width: 100%;
  }

  .user-info {
    font-size: 1.2rem;
    margin-right: 30px;
  }

  .logout-btn {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .logout-btn:hover {
    background-color: var(--highlight-dark-color);
  }

  .btn {
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    /* transition: background-color 0.2s ease-in-out; */
  }

  .logout-btn:hover {
    background-color: var(--highlight-dark-color);
  }

  main {
    margin-top: 5rem;
  }

  .auth-link {
    color: var(--primary-color);
    margin-right: 30px;
    text-decoration: none;
    position: relative;
    transition: color 0.2s ease-in-out;
  }

  .auth-link:hover {
    color: var(--highlight-color);
  }

  .auth-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--highlight-color);
    transition: width 0.2s ease-in-out;
  }

  .auth-link:hover::after {
    width: 100%;
  }

